.containerRegister {
   width: 350px;
   margin: 44px 40px 0 40px;
}

.logoRegister {
   width: 175px;
   height: 51px;
}

.logoRegisterDesc {
   color: rgba(142,142,142);
   font-size: 17px;
   font-weight: 600;
   line-height: 20px;
   margin: 0 40px 10px;
   text-align: center;
}

.logoInsta img {
   margin-bottom: 16px;
}

.logoInsta a {
   background-color: var(--blue);
   border-radius: 4px;
   padding: 6px 0px;
   width: 270px;

   span {
      color: var(--white);

      img { 
         margin-bottom: 0;
         margin-right: 5px;
         height: 16px;
         width: 16px;
      }
   }
}

.formRegister input {
   width: 270px;
   padding: 8px;
   border-radius: 4px;
   border: none;
   background-color: var(--white-dark);
}

.formRegister input[type=submit] {
   background-color: var(--blue);
   padding: 5px;
}

div > .fSubmit {
   width: 100%;
}

.fSubmit {
   font-size: 18px;
   color: var(--white);
   border: none;
   border-radius: 4px;
}

.fSubmitDisable {
   background-color: var(--btnDisable);
}

.fSubmitActive {
   background-color: var(--btn);

   &:hover {
      cursor: pointer;
   }
} 

.hrowsRegister {
   width: 100%;
   color: var(--gray);
   padding: 0 40px;
   margin-top: -16px;
}

.hrow {
   height: 1px;
   width: 104px;
   background-color: var(--gray);
}

.fb button{ 
   outline: none;
   color: var(--fb);
   background-color: transparent;
   border: none;
   font-weight: bold;
}

.fb button img {
   width: 20px;
   height: 20px;
   margin-right: 8px;
}

.fb a {
   text-decoration: none;
   color: var(--fb);
   font-size: 12px;
}

.containerRegister {
   width: 350px;
}

.containerRegister a {
   text-decoration: none;
   color: var(--blue);
   font-weight: bold;
}