:root {
   --blue: #0095F6;
   --black: #262626;
   --border-color: #DBDBDB;
   --white: #FFF;
   --white-dark: #FAFAFA;
   --btn: #0195F7;
   --btnDisable: #B2DFFC;
   --fb: #3A4E83; 
   --gray: #8E8E8E;
}